{% extends 'portfolio/base.html' %}

{% block content %}
<div  class="text-center">
    <h1>Kgomotso's portfolio</h1>


    {% load static %}

    <a href="{% url 'blog:all_blogs' %}">MyBlog</a>



    <img src="{% static 'portfolio/march.jpg' %}" height=350 width=350>
</div>
<br>
<h3>About Kgomotso</h3>
<p>I am one of the many blossoming female Clinical Engineers at Ecomed Medical. I have been in the clinical engineering field for 2 years, starting as an Intern at Philips medical systems in 2018 and navigating to my current position.

  I Graduated in Computer System Engineering at Tshwane University of Technology in October 2019. I have not lost my zeal to enlarge my skills inventory, diving straight away into my Baccalaureus Technology: Computer Systems Engineering studies in the second semester of 2019.
  
  The engineering field is well renowned for its discipline and leadership qualities required of its members, I have passionately participated in the residence mentor program at the Tshwane University of Technology in 2017, assisting and imparting my wealth of knowledge into aspiring engineers to help them realize their potential and achieve their goals. I am boosting in a heavy artillery of programming language that include C++, C# ASP.NET MVC, Java, HTML,CSS, Bootstrap SQL,Javasript,python django.
  
  In my current role I perform service maintenance and troubleshooting various types of medical equipment. I provide customer support services across various hospitals in Gauteng. My duties and responsibilities include, but not limited to, repairing of anesthetic, ventilators, defibrillators etc.
  
  One of my portfolio projects entails a Hospital management system...</p>
<hr>

    <h1 class="text-center">My Projects</h1>
<br>
<div class="container">

  <div class="row">

    {% for project in projects %}
  <div class="col-lg-4 col-md-6">
<div>
    <h3>{{ project.tittle }}</h3>

</div>
<br>
<div>
    <p>{{ project.description }}</p>
</div>
<br>
    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
   
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}


  </div>

    {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
