
        ./

no changes added to commit (use "git add" and/or "git commit -a")
(portfolioven) 00:40 ~/django3-personal-portfolio/static (master)$ namo .gitignore
bash: namo: command not found
(portfolioven) 00:43 ~/django3-personal-portfolio/static (master)$ 

        ./

no changes added to commit (use "git add" and/or "git commit -a")
(portfolioven) 00:40 ~/django3-personal-portfolio/static (master)$ namo .gitignore
bash: namo: command not found
(portfolioven) 00:43 ~/django3-personal-portfolio/static (master)$ 
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/static/
